/* EstiloLogin.css */

.form-card {
    width: 600px;
    margin: auto; /* Centra la tarjeta horizontalmente en la pantalla */
    margin-top: 125px; /* Ajusta la distancia desde la parte superior de la pantalla */
    background-color: #808080;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(209, 167, 167, 0);
  }